.app { 
  height: 100vh;
  background-color: #FAFBFE !important;
 
}
.app__menu { 
  display: flex;
  height: 100vh;
}

.app__topbar {
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
}

.app__body { 
  padding: 25px;
}